{% extends 'wine_wiki/base.html' %}
{% block content %}
    <h1>Change Log</h1>
    <ul>

      <li><b>2025-08-19:</b> Adds rudimentary tags to wines.</li>
      <li><b>2025-08-16:</b> Adds Variety page, list and links to and from wines. </li>
      <li><b>2025-08-14:</b> Adds admin page, moves CRUD (Create, Remove, Update, Delete) operations to admin side, adds user group 'author' for users with permission to perform CRUD operations.</li>
        <li>
            <b>2025-08-14:</b> Adds Producer create, update and delete functionality.</li>
        <li>
            <b>2025-08-14:</b> Adds Producer List (link can be found in home), invidiual producer pagess, link to producer from a wine and list of wines under a producer page.
        </li>
        <li>
            <b>2025-08-06:</b> Adds "last_modification_by" field to wine to record last modification. While optional I would highly appreciate its use. Downtrack this will be tied to user accounts. The last modification date and user who last modified i.e. "last_modification_by" are displayed on the top of an article page, such as a wine.
        </li>
        <li>
            <b>2025-08-03:</b> Adds markdown support in Description and help text, fixed create and edit wine path result error.
        </li>
        <li>
            <b>2025-08-03:</b> Add this Change Log.
        </li>
    </ul>
{% endblock %}
