{% extends 'wine_wiki/base.html' %} {% block content %}
<h1>Change Log</h1>
<ul>
    <li>2025-08-06: Add "last_modification_by" field to wine to record last modification. While optional I would highly appreciate its use. Downtrack this will be tied to user accounts. The last modification date and user who last modified i.e. "last_modification_by" are displayed on the top of an article page, such as a wine.</li>
    <li>2025-08-03: Adds markdown support in Description and help text.</li>
    <li>2025-08-03: Fixed create and edit wine path result error.</li>
    <li>2025-08-03: Add this Change Log.</li>
</ul>
{% endblock %}
