@font-face {
  font-family: "Alilato";
  src: url("Alilato-ExtraLight.ttf") format("truetype");
}

body {
  font-family: "Alilato", sans-serif;
}

h2.wine_list_h2 {
  text-align: center;
  font-weight: normal;
  font-size: 1em;
}

h3.wine_list_h3 {
  text-align: left;
  font-weight: normal;
  font-size: 1em;
  padding-bottom: 0.1em;
  margin-bottom: 1em;
  position: relative;
}

h3.wine_list_h3::after {
  content: ""; /* Creates an empty pseudo-element */
  position: absolute; /* Positions it relative to h1 */
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px; /* Thickness of the underline */
  background-color: black; /* Color of the underline */
}

div.wine_list_row {
  display: grid;
  grid-template-columns: 10% 30% 40% 10% 10%;
  padding: 0.5em;
  marign-bottom: 0.5em;
  transition: 02s ease;
  border-radius: 6px;
  cursor: pointer;
}

.wine_list_row:hover {
  border: 1px solid #d0d0d0;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.wine_list_vintage {
  padding-right: 1em;
}
.wine_list_wine_name_producer {
  padding-right: 1em;
}

.wine_list_region {
  padding-left: 2em;
}

.wine_list_price {
  padding-left: 2em;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.1em;
  flex-shrink: 0;
  border-bottom: 1px solid black;
}

.header-links {
}

.header-user {
}

.content {
  padding: 0.1em;
  flex-grow: 1;
  overflow: auto;
  min-height: 2em;
}
.footer {
  padding: 0.1em;
  flex-shrink: 0;
  border-top: 1px solid black;
}

.button {
  padding: 1px 6px;
  border: 1px outset buttonborder;
  border-radius: 3px;
  color: buttontext;
  background-color: buttonface;
  text-decoration: none;
}

.wine-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wine-content {
  flex: 1;
  overflow: auto;
}
.wine-meta {
  border-top: 1px solid black;
  padding: 0.5em;
}

.wine-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
